<div style="text-align: center;">
  <img 
  src="../assets/logo.png"
   alt="LCO logo "
   width= "100"
   height="100"
   class="logo"
   /> 
   <h1 class="app-title"> TODO LIST</h1>
</div>
<div class="container" >
Add a TODO..........
<br><br>
<!-- <input type="text" class="input-text" placeholder="type a TODO"
[(ngModel)]="todoValue"
(keyup.enter)="addItem()" /> -->
<input type="text" 
class="input-text" 
placeholder="type a TODO" 
[(ngModel)]="todoValue"
(keyup.enter)= addItem();
/>
<button class="add btn" (click)= addItem() >Add todo</button>
<br><br>
<div class="list"> 
<ul>
  <li>
     <li *ngFor="let item of list">
         <input type="checkbox" name="isDone" [(ngModel)]="item.isDone"/>  
        {{item.Value}}
        <button class="btn" (click)="deleteItem(item.id)">Delete</button> 
    </li>
  </ul>
</div>
</div> 